@import "variables.scss";
@import "mixin.scss";

.button {
  width: 280px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $link-active-color;

  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 18px;
  color:$link-color;
}
