$body-font-color:#444444;
$bold:#111111;
$shadow-color:#e6e6e6;
$link-active-color:#68b738;
$link-color:#ffffff;
$gray:#f2f2f2;
$border-color:#cdcdcd;
$example-color:#eaeaea;
$example-border-color:#d5d5d5;
$slider-color:#dcdcdc;

// widths
$tablet-width:768px;
$desktop-width:1200px;

// dpi dppx
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
